.circle {
  width: 500px;
  height: 500px;
  background-color: hotpink;
  border-radius: 50%;
}
.kucha{width: 350px;
height: 350px;
background-color: chocolate;
border-radius: 13%;
box-shadow: 30px;
margin-top: 50px;
}